// CONTENT
$color-body-bg: #ffff;
$color-text: #444;
$color-heading-text: #35495e;
$color-base: purple;
$color-title: black;

// LINKS
$color-link-text: black;
$color-link-text-active: $color-text;
$color-link-text-hover: purple;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: $color-base;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;

//border
$color-border-light: lightgray;
$color-border-dark: gray;
